<!-- app.component.html -->

<div class="container">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <form [formGroup]="angForm" novalidate>
    <div>
      <label>First Name:</label>
      <input formControlName="fname" type="text">
      <!-- [value]="angForm.get('fname').value | capitalize"> -->
    </div>

    <div>
      <label>Last Name:</label>
      <input formControlName="lname" type="text">
    </div>

    <div>
      <label for="phone">Enter your phone number:</label>
      <input ng2TelInput [ng2TelInputOptions]="{initialCountry: 'us'}" formControlName="formControlPhone" />
    </div>


    <button type="submit" [disabled]="angForm.invalid" class="btn btn-success">
      Save
    </button>
  </form>
  <br />
  <p>Form value: {{ angForm.value | json }}</p>
</div>
